<h1>All Companies</h1>

<% @companies.each do |company| %>
  <div class="well company_<%= company.id %>">
    <div class="flex-container">
      <h2><%= link_to company.name, company_path(company) %></h2>
      <div class="flex-container">
        <%= link_to "Edit", edit_company_path(company), {type: "button", class: "btn btn-primary"} %>
        <%= button_to "Delete", company_path(company), {method: "delete", class: "btn btn-danger"} %>
      </div>
    </div>
  </div>
<% end %>
